<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Planchette — Login</title>
    <link rel="icon" href="/__data__/logoSmall.png" />
    {{ vitecss("global") | safe }}

    {% include "partials/react_refresh.html" %}
  </head>
  <body>
    <div id="auth-root"></div>
    <script id="data-auth" type="application/json">{{ {"page": "login", "flash": get_flashed_messages()} | tojson }}</script>
    {{ vitejs("__auth__") | safe }}
  </body>
</html>
